<ol class="post-list">
  {{#each posts as |post|}}
  <div class="form-settings2">
    <div class="trim2">
      <li>
        {{> post-info post }}
      </li>
    </div>
  </div>
  {{/each}}
</ol>