* {
    font-family: 'Open Sans', sans-serif;
  }
  header {
    background-color: black;
    padding: 20px;
    color: rgb(50, 78, 205);
    margin: 0 auto;
    max-width: 100%;
    border: 4px solid rgb(50, 78, 205);
  }
  header h1 {
    margin: 0 auto;
    width: 50%;
    text-align: center;
    padding: 5px;
    font-weight: bold;
  }
  header nav {
    margin: 0 auto;
    width: 50%;
    text-align: center;
  }
  header nav a {
    padding: 10px;
    width: 50%;
    text-align: center;
  }
  .btn {
    background-color: rgb(50, 78, 205);
    color: black;
    font-weight: bold;
    border: 1px solidrgb(50, 78, 205);
  }
  .btn:hover {
    background-color: black;
    color: rgb(50, 78, 205);
    border: 1px solid rgb(50, 78, 205);
  }
  a {
    color: rgb(50, 78, 205);
  }
  a:hover {
    text-decoration: none;
    color: white;
  }
  .post-list li {
    list-style-type: none;
    background-color: black;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    width: 50%;
    color: white;
  }
  main {
    background-color: rgb(50, 78, 205);
    padding: 10px 0;
  }
  footer {
    background-color: black;
    padding: 20px;
    color: rgb(50, 78, 205);
    max-width: 100%;
    border: 3px solid rgb(50, 78, 205);
  }
  footer div {
    margin: 0 auto;
    width: 50%;
    text-align: center;
  }
  
  .form-settings {
    background-color: black;
    margin: 40px auto;
    padding: 10px;
    border-radius: 5px;
    color: white;
    border-radius: 5px;
    width: 50%;
    border: 3px solid white;
  }
  .signup-form {
    margin-top: 50px;
  }
  #trim {
    border: 2px solid rgb(50, 78, 205);
    border-radius: 5px;
    padding: 10px;
  }
  #section-create-post h2 {
    padding: 15px;
  }
  label {
    color: rgb(50, 78, 205);
    font-weight: bold;
  }
  .new-post-form {
    padding: 5px 15px;
  }
  #my-posts {
    margin-top: 50px;
    padding-bottom: 50px;
  }
  #my-posts h2 {
    padding: 5px 15px;
  }
  .edit-post-form {
    margin-bottom: 50px;
  
  }
  .div-btn-spacing {
    margin-top: 20px;
  }
  .post-comments1 {
    margin-top: 20px;
    color: rgb(50, 78, 205);
    border-radius: 5px;
    padding: 20px;
  }
  .form-settings2 {
    background-color: black;
    margin: 20px auto;
    border-radius: 5px;
    color: white;
    border-radius: 5px;
    width: 75%;
    border: 3px solid white;
  }
  .trim2 {
    border: 2px solid rgb(50, 78, 205);
    border-radius: 5px;
    padding: 5px;
    margin: 7px;
  }
  .trim2 li {
    width: 100%;
  }
  .comment-form {
    margin-top: 20px;
  }
  .comments {
    background-color: black;
    border: 2px solid white;
    color:rgb(50, 78, 205); 
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
  }
  .text {
    color: white;
  }
  .padding-adjust {
    padding-bottom: 10px;
  }